Source: vx-dga-l-congelar-directorios
Section: x11
Priority: extra
Maintainer: Arturo Martín <amartinromero@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/Vitalinux-DGA-ProgSoftLibre

Package: vx-dga-l-congelar-directorios
Architecture: all
Pre-Depends: vx-dga-l-migasfree-launcher (>=5.1), vx-dga-l-skel-usuarios (>=1.1)
Depends: ${misc:Depends}
Description: Congelación Directorios del HOME del usuario
 Paquete encargado de eliminar el contenido de los directorios básicos del HOME
